<div class="card my-5">
  <h2> Inserta los datos del nuevo número</h2>
    <div class="card-body">
      <form #formulario="ngForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label for="coleccion" class="control-label">Colección</label>
            <input type="text" class="form-control" name="coleccion" [(ngModel)]="numero.coleccion.nombre"
            id="nombre"
            required #nombre="ngModel" >
          </div>
          <div *ngIf="nombre.hasError('required')">
              Por favor, introduce un título
            </div>

        <div class="form-group">
            <label for="editorial" class="control-label">Editorial</label>
            <input type="text" 
              class="form-control" 
              placeholder="Editorial"
              id="editorial"
              required #editorial="ngModel" 
              name="editorial" [(ngModel)]="numero.coleccion.editorial">
          </div>
          <div *ngIf="editorial.hasError('required')" 
          class="alert alert-danger">Editorial requerida</div>

          <div class="form-group">
            <label for="autor" class="control-label">Autor</label>
            <input type="text"
              class="form-control" 
              placeholder="Autor"
              id="autor"
              required #autor="ngModel" 
              name="autor" [(ngModel)]="numero.autor">
          </div>
          <div *ngIf="autor.hasError('required') && autor?.touched" 
          class="alert alert-danger">Autor requerido</div>

          <div class="form-group">
            <label for="volumen" class="control-label">Volumen</label>
            <input type="text" 
              class="form-control" 
              placeholder="Volumen"
              id="volumen"
              required #volumen="ngModel" 
              name="volumen" [(ngModel)]="numero.volumen">
          </div>
          <div [hidden]="!volumen.pristine"
          class="alert alert-danger">Volumen requerido</div>

          <div class="form-group">
            <label for="precio" class="control-label">Precio</label>
            <input type="text" 
              class="form-control" 
              placeholder="Precio"
              id="precio"
              required #precio="ngModel" 
              name="precio" [(ngModel)]="numero.precio">
          </div>
          <div *ngIf="precio.hasError('required') && precio.touched" 
          class="alert alert-danger">Precio requerido</div>

          <div class="form-group">
            <label for="estado" class="control-label">Estado</label>
              <select class="form-control" id="estado"name="estado" [(ngModel)]="numero.estado"
                      required #estado="ngModel" >
                      <option *ngFor="let e of estados" [value]="e">{{e}}</option>
              </select>
          </div>

        <br/>

          <div class="form-group">
            <input type="file" (change)="onFileChanged($event)">
          </div>
        
        <br/>
        
        <button type="submit" [disabled]="formulario.invalid" 
          class="btn btn-info">Añadir</button>
      </form>
    </div>
  </div>
