
  <div *ngIf="resultados.length >0" class="card">
    <h5>Números disponibles</h5>
    <p-table [value]="resultados">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="coleccion.nombre">Colección <p-sortIcon field="coleccion.nombre"></p-sortIcon></th>
                <th pSortableColumn="coleccion.editorial">Editorial <p-sortIcon field="coleccion.editorial"></p-sortIcon></th>
                <th pSortableColumn="volumen">Volumen <p-sortIcon field="volumen"></p-sortIcon></th>
                <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon></th>
                <th pSortableColumn="fecha_publicacion">Publicación <p-sortIcon field="fecha_publicacion"></p-sortIcon></th>
                <th pSortableColumn="fecha_compra">Compra <p-sortIcon field="fecha_compra"></p-sortIcon></th>
                <th pSortableColumn="autor">Autor <p-sortIcon field="autor"></p-sortIcon></th>
                <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th>Portada</th>
                <th>Eliminar</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-numero>
            <tr>
                <td>{{numero.coleccion.nombre}}</td>
                <td>{{numero.coleccion.editorial}}</td>
                <td>{{numero.volumen}}</td>
                <td>{{numero.precio}}</td>
                <td>{{numero.fecha_publicacion | date:'dd MMMM, yyyy':'':'es'}}</td>
                <td>{{numero.fecha_compra | date:'dd MMMM, yyyy':'':'es'}}</td>
                <td>{{numero.autor}}</td>
                <td>{{numero.estado}}</td>
                <td><img class="small-cover" [src]="numero.imagen"></td>
                <td><button pButton label="Eliminar" (click)="eliminar(numero.id)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

