<div *ngIf="resultados.length >0" class="card my-5">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Coleccion</th>
            <th scope="col">Editorial</th>
            <th scope="col">Volumen</th>
            <th scope="col">Precio</th>
            <th scope="col">Publicacion</th>
            <th scope="col">Compra</th>
            <th scope="col">Estado</th>
            <th scope="col">Autor</th>
            <th scope="col">Portada</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let numero of resultados;let i=index">
            <td class="align-middle">{{i+1}}</td>
            <td class="align-middle">{{ numero.coleccion.nombre }}</td>
            <td class="align-middle">{{ numero.coleccion.editorial }}</td>
            <td class="align-middle">{{ numero.volumen }}</td>
            <td class="align-middle">{{ numero.precio }}</td>
            <td class="align-middle">{{ numero.fecha_publicacion | date}}</td>
            <td class="align-middle">{{ numero.fecha_compra | date}}</td>
            <td class="align-middle">{{ numero.estado }}</td>
            <td class="align-middle">{{ numero.autor }}</td>
            <td><img class="small-cover" [src]="numero.imagen"></td>
            <td class="align-middle"><button class="btn btn-info" type="button"  (click)="eliminar(numero.id)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
  </div>

