@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/lara-light-indigo/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
html,body{
    background-color: var(--surface-b);
    font-family: var(--font-family);
    margin: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
